html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: rgb(242, 252, 242);
}

a {
  text-decoration: none;
  color: rgb(77, 206, 77);
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 20px;
  color: #555b6e;
}

.cart-page .item_plant {
  margin-right: 100px;
}

.checkout {
  text-align: center;
}

.cart-page .item-details {
  display: flex;
  flex-direction: row;
  align-items: row;
  flex: auto;
  width: 20%;
  border: 0.1rem solid #555b6e;
  padding: 1rem;
  margin: 0.5rem;
}

.cart-page .plant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.cart-page .quantity-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.cart-page .order-summary {
  text-align: center;
}

.cart-page .button-input {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.cart-page button {
  color: #555b6e;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #555b6e;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.cart-page button:hover {
  color: #bee3db !important;
  background-color: transparent;
  text-shadow: nthree;
}
.cart-page button:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
.cart-page button:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #bee3db !important;
  background: #555b6e;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.cart-page .overlay {
  background-color: #bee3db;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.cart-page .overlay:hover {
  background-color: #89b0ae;
}

.checkout-page {
  text-align: center;
  /* display: flex;
  justify-content: center; */
  margin-left: 200px;
  height: 100vh;
  color: #555b6e;
  margin-top: 2%;
  width: 60%;
}

.checkout-page .form-section {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #555b6e;
  display: flex;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: flex 0.4s ease;
  position: relative;
  z-index: 2;
  width: 65%;
  padding: 2% 5%;
}

.checkout-page h1 {
  align-self: center;
  font-size: 24px;
  line-height: 10px;
  letter-spacing: 1px;
}

.checkout-page form {
  width: 100%;
  margin-top: 20px;
}

.checkout-page form input {
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  margin-top: 5px;
  border-radius: 4px;
}

.checkout-page .name-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checkout-page .name-input div {
  width: 45%;
}

.checkout-page .address-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkout-page .address-input div {
  width: 30%;
}

.checkout-page .button-input {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.checkout-page button {
  color: #555b6e;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #555b6e;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.checkout-page button:hover {
  color: #bee3db !important;
  background-color: transparent;
  text-shadow: none;
}

.checkout-page button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.checkout-page button:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #bee3db !important;
  background: #555b6e;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.checkout-page .overlay {
  background-color: #bee3db;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.checkout-page button:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #bee3db !important;
  background: #555b6e;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.checkout-page .overlay {
  background-color: #bee3db;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.checkout-page .overlay:hover {
  background-color: #89b0ae;
}

.orderhistory-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: #555b6e;
}

.orderhistory-page h1 {
  align-self: center;
  font-size: 24px;
  line-height: 10px;
  letter-spacing: 1px;
}

.orderhistory-page h1 {
  align-self: center;
  font-size: 24px;
  line-height: 10px;
  letter-spacing: 1px;
}

.orderhistory-page .order-details {
  display: flex;
  flex-direction: column;
  align-items: row;
  flex: auto;
  width: 100%;
  border: 0.1rem solid #555b6e;
  padding: 1rem;
  margin: 0.5rem;
}

.orderhistory-page .overlay {
  background-color: #bee3db;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.orderhistory-page .overlay:hover {
  background-color: #89b0ae;
}

/* nav view */
nav {
  margin: 27px auto 0;

  position: relative;
  width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 130px;
}
a:nth-child(2) {
  width: 130px;
}
a:nth-child(3) {
  width: 130px;
}
a:nth-child(4) {
  width: 130px;
}

nav .start-home,
a:nth-child:hover ~ .animation {
  width: 130px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about,
a:nth-child(2):hover ~ .animation {
  width: 130px;
  left: 130px;
  background-color: #1abc9c;
}
nav .start-blog,
a:nth-child(3):hover ~ .animation {
  width: 130px;
  left: 260px;
  background-color: #1abc9c;
}
nav .start-portefolio,
a:nth-child(4):hover ~ .animation {
  width: 130px;
  left: 390px;
  background-color: #1abc9c;
}

/* nav view */

/* =============================== LogIn SighIn =============================== */

hr {
  border: 0;
  height: 1px;
  opacity: 0.3;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.2)
  );
}

.login,
.sign-up {
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -210px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 440px;
  width: 400px;
  color: #1abc9c;
  text-align: center;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 15px 15px rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s ease-in 0.3s, visibility 0.3s ease-in 0.3s;
  transform: scale(0.9);
}

.sign-up {
  height: 640px;
}

.field {
  margin: 20px;
  margin-left: 50px;
  text-align: left;
}

.input {
  margin: 5px;
  width: 300px;
  margin-left: -5px;
  height: 40px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  padding: 5px;
  color: #25291b;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease-out;
}

.input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.label {
  font-weight: lighter;
  margin-left: -5px;
}

.submit-button {
  cursor: pointer;
  margin-top: 20px;
  width: 310px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;

  transition: background-color 0.4s ease-out;
}

.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.submit-button:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.field-in {
  animation: pulse 0.7s 1;
}

.animate-check {
  margin-left: 5px;
  animation: pulse2 0.4s 1;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* nav view */
nav {
  margin: 27px auto 0;

  position: relative;
  width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 130px;
}
a:nth-child(2) {
  width: 130px;
}
a:nth-child(3) {
  width: 130px;
}
a:nth-child(4) {
  width: 130px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 130px;
  left: 0;
  background-color: #1abc9c;
}

/* nav view */

/* user-nav */
.inset {
  border-style: inset;
  width: 200px;
  text-align: center;
  height: 40px;
  font-size: 20px;
  margin: 17px;
  background-color: #bee3de;
}

.user-span {
  border-style: inset;
  width: 200px;
  text-align: center;
  height: 40px;
  font-size: 20px;
  margin: 17px;
  background-color: #ffd6ba;
}

.user-Img {
  width: 300px;
  padding: 10px;
  text-align: center;
}
p.user-Img {
  font-size: 40px;
  font-style: italic;
  margin: 17px;
  color: #ffd6ba;
}

.user-welcome {
  font-size: 40px;
  font-style: italic;
  margin: 17px;
  color: #ffd6ba;
}
=======
/*     forms css   */
.add-plant {
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 30px;
  background: #264653;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.add-plant input[type='text'],
.add-plant input[type='date'],
.add-plant input[type='number'],
.add-plant textarea,
.add-plant select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: #f4a261;
}
.add-plant textarea {
  resize: none;
  overflow: hidden;
}
.add-plant label {
  color: #e9c46a;
}
.add-plant button,
.add-plant button[type='submit'] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.add-plant input[type='button']:hover,
.add-plant input[type='submit']:hover {
  background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
  background-color: #34caca;
}

/* css new additions */

.plants-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.plants-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 200px;
  height: 100px;
  padding: 50px;
  margin: 30px;
}

.heading {
  text-align: center;
  font-size: 60px;
  color: rgb(77, 206, 77);
}

.italic {
  font-style: italic;
}

.single-plant {
  text-align: center;
}
